<header class="page__header">
<div class="container">
  <a class="header__link" href="https://adalab.es" target="__blank">
    <img class="adalab__icon" src="assets/images/logo-adalab-80px.png" alt="">
  </a>

<nav class="header__nav">
  <ul class="nav__list">
    <li class="list__item "><a href="https://medium.com/adalab" class="list__link header__text" target="__blank">Blog</a></li>
    <li class="list__item"><a href="https://adalab.es/contacto/" class="list__link header__text" target="__blank">Contacto</a></li>
  </ul>
</nav>
</div>
</header>
