.page__footer{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background-color:$color-footer-bg;
  display:flex;
  justify-content: center;
  align-items: center;
}

.footer__text{
  margin:34px auto 37px;
}
