/*COLORS*/

$dark-teal: #1daa9f;
$aqua: #32decf;
$light-grey: #c5c5c5;
$black: #000000;
$drak-grey: #4a4a4a;
$white: #ffffff;
$almost-black:#252525;
$mid-grey:#676a6d;

$color-title:$white;
$color-footer-bg: $almost-black;
$color-header-bg:$white;
$color-header-txt:$drak-grey;
$color-footer-txt:$mid-grey;

/* Fonts */

$font: 'Rubik', sans-serif;
$font-normal: normal;
$font-bold: bold;

$font-size-xl:60px;
$font-size-md:30px;
$font-size-s: 16px;
